<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<style>
    .table-container {
        padding: 15px 20px;
    }

    .title {
        font-size: 25px;
        font-weight: 600;
        padding-bottom: 10px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    tr:hover {
        background-color: coral;
    }
</style>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create User</a>

    </div>
    <div class="table-container">

        <div class="title">List User</div>

        <table>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Name</th>
                <th>City</th>
                <th>Actions</th>
            </tr>


            <!-- <% for (let i=0; i < listUser.length; i++) { %>
                <tr>

                    <td>
                        <%= listUser[i].id %>
                    </td>
                    <td>
                        <%= listUser[i].email %>
                    </td>
                    <td>
                        <%= listUser[i].name %>
                    </td>
                    <td>
                        <%= listUser[i].city %>
                    </td>
                    <td>
                        <button>edit</button>
                        <button>delete</button>
                    </td>
                </tr>
                <% } %> -->

            <% listUser.forEach(function(user) { %>
                <tr>

                    <td>
                        <%= user.id %>
                    </td>
                    <td>
                        <%= user.email %>
                    </td>
                    <td>
                        <%= user.name %>
                    </td>
                    <td>
                        <%= user.city %>
                    </td>
                    <td>
                        <a href="/update/<%= user.id %>">edit</a>
                        <form action="/delete-user/<%= user.id %>" method="POST">
                            <button>delete</button>
                        </form>

                    </td>
                </tr>
                <% }); %>
        </table>
    </div>

</body>

</html>